.big-slider {

}

.big-slider__switcher {
  // box model
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;
}

.big-slider__button {
  // positioning
  position: relative;

  // box model
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  max-width: 25%;
  margin: 0;
  padding: 0;

  // border
  border: none;

  // typography
  font-size: 0;

  // visual
  background-color: transparent;
}

.big-slider__icon {
  // box model
  width: 48px;
  // border: 2px dashed fuchsia;
}

.big-slider__icon img,
.big-slider__icon svg {
  // box model
  width: 100%;
  height: 100%;

  // visual
  fill: $light;
}

.big-slider__feature-title {
  // positioning
  // position: absolute;
  // left: 50%;
  // transform: translateX(-100%);

  // typography
  color: $light;
  font-size: 0.625rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.big-slider__slides {

}

.big-slider__controls {
  // box model
  padding: 0 2rem;
}
