.branches-section {
    // box model
    padding: 3rem 2rem;

    @include atTablet {
        // box model
        padding: 4rem;
    }

    @include atDesktopS {
        // box model
        display: flex;
    }
}

.branches-section__header {
    // box model
    margin-bottom: 2rem;

    @include atDesktopS {
        // box model
        width: 280px;
        padding-right: 2rem;
    }
}

.branches-section__content {
    @include atDesktopS {
        // box model
        flex-grow: 1;
    }
}
