.city-selector {
  // typography
  text-decoration: none;
}

.city-selector__your-city {
  // box model
  margin: 0;

  // typography
  color: $sapling;
  font-family: $displayFont;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1;
}

.city-selector__current-city {
  // box model
  margin: 0;

  // typography
  color: $light;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
