.contact {
    // box model
    margin-bottom: 2rem;

    // typography
    line-height: 1.5;
}

.contact__title {
    // box model
    margin: 0;
}

.contact__text {
    // box model
    margin: 0;
}

.contact a {
    // typography
    color: $green;
    text-decoration: none;
}

.contact a:hover {
    // typography
    text-decoration: underline;
}
