.ctc-form {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    margin: 0 auto;
    max-width: 400px;
    padding: 2rem 1.5rem;

    // typography
    text-align: center;

    // visual
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba($dark, 0.5);

    @include atDesktopS {
        // box model
        margin-top: 2rem;
        max-width: inherit;
        padding: 3rem 2rem;

        // visual
        background-color: rgba($white, 0.75);
    }
}

.ctc-form__input {
    // box model
    display: block;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    width: 100%;

    // border
    border: none;
    border-bottom: 1px solid $dark;
    background-color: transparent;
}

.ctc-form__input:focus {
    // box model
    border-bottom: 1px solid $green;
}

.ctc-form__text {
    // box model
    display: block;
    margin-bottom: 2rem;
    padding: 1rem 0.5rem;
    width: 100%;

    // border
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $dark;
}
