.expert {
    // box model
    margin-bottom: 3rem;

    @include atTablet {
        // box model
        flex-basis: 45%;
    }

    @include atDesktopS {
        // box model
        // flex-basis: 33%;
    }
}

.expert__name {
    // box model
    margin: 0;
    margin-bottom: 1rem;

    // typography
    font-weight: 700;
}

.expert__profi {
    // box model
    margin: 0;

    // typography
    line-height: 1.5;
}

.expert__skill {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-weight: 700;
    line-height: 1.5;
}

.expert__attestat {
    // box model
    margin: 0;

    // typography
    line-height: 1.5;
}
