.feature {
  // positioning
  position: relative;

  // box model
  padding-left: 64px;
  margin-bottom: 2rem;
}

.feature__icon {
  // positioning
  position: absolute;
  top: 0;
  left: 0;

  // box model
  width: 44px;
  height: 44px;
}

.feature__icon img,
.feature__icon svg {
  // box model
  width: 100%;
  height: 100%;

  // visual
  fill: $light;
}

.feature__title {
  // box model
  margin: 0;
  margin-bottom: 0.25rem;

  // typography
  color: $sapling;
  font-size: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.feature__description {
  // box model
  margin: 0;

  // typography
  color: $light;
  font-size: 0.85rem;
  // line-height: 1.75;
}
