.footer-nav {
    // box model
    margin: 0;
    padding: 0;

    // list
    list-style: none;
}

.footer-nav__item {
    // box model
    margin: 5px 0;
}

.footer-nav__item a {
    // typography
    color: $light;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-nav__link:hover {
    // typography
    text-decoration: underline;
}

.footer-nav__link--main {
    // box model
    display: block;
    margin-bottom: 20px;

    // typography
    font-weight: 700;
}
