.footer-2ry-menu {
  // box model
  margin: 0;
  padding: 0;

  // list
  list-style: none;

  @include atTablet {
    // box model
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-2ry-menu__item {
  // box model
  margin: 0;
  padding: 0;

  @include atTablet {
    // box model
    padding-right: 1rem;
  }
}

.footer-2ry-menu__link {
  // typography
  color: $zobra;
  font-size: 0.625rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-2ry-menu__link:hover {
  // typography
  text-decoration: underline;
}
