.footer {
    // box model
    padding: 3rem 1.5rem;

    // typography
    text-align: center;

    // visual
    background-color: $dark;

    @include atTablet {
        // box model
        padding: 3rem 2rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    @include atDesktopS {
        // box model
        padding: 3rem;
        justify-content: space-between;
        align-items: stretch;
    }

    @include atDesktopM {
        // box model
        padding: 3rem 5rem;
    }
}

.footer__top {
    @include atDesktopS {
        // typography
        text-align: left;
    }
}

.footer__logo {
    // box model
    display: inline-block;
    width: 12rem;
    margin-bottom: 2rem;

    // visual
    fill: $white;
}

.footer__menu {
    // box model
    margin-bottom: 4rem;

    @include atTablet {
        // box model
        margin-bottom: 0;
    }
}


.footer__legals {
    // box model
    margin-bottom: 2rem;

    // typography
    color: $light;

    @include atTablet {
        // box model
        margin-bottom: 1rem;
    }
}

.footer__bottom {
    @include atDesktopS {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.footer__phones {
    // box model
    margin-bottom: 3rem;
}

.footer__phones a {
    // typography
    color: $light;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2;
    text-decoration: none;
}

.footer__phones a:hover {
    // typography
    text-decoration: underline;
}

