.footer-menu {
  // box model
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  // list
  list-style: none;
}

.footer-menu__item {
   // box model
   display: inline-block;
   margin: 0;
   padding: 0;
}

.footer-menu__item::after {
  content: "|";

  // box model
  margin: 0 0.5rem;

  // typography
  color: $dorado;
}

.footer-menu__item:last-of-type::after {
  // box model
  display: none;
}

.footer-menu__link {
  // box model

  // typography
  color: $sapling;
  font-size: 0.625rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-menu__link:hover {
  // typography
  text-decoration: underline;
}
