.ghost-button {
  // box model
  display: inline-block;
  vertical-align: top;
  padding: 1rem 3rem;

  // typography
  color: $light;
  letter-spacing: 0.08em;
  line-height: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  // border
  border: 1px solid rgba($light, 0.2);
  border-radius: 3px;

  // visual
  cursor: pointer;
  // transition: color 0.25s ease-out,
              // background-color 0.25s ease-out;
  transition: all 0.25s ease-out;
  // outline: 2px solid $light;
}

.ghost-button:hover {
  // border
  border: 1px solid transparent;

  // visual
  background-color: rgba($light, 0.2);
}

.ghost-button:active {
  // typography
  color: $dune;

  // visual
  background-color: rgba($light, 0.75);
}

.ghost-button:focus {
  // visual
  outline: 1px solid $light;
}
