.header {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.5rem 1rem;

    // typography
    color: $green;

    // visual
    background-color: $light;

    // @include atTablet {
    //     // box model
    //     padding: 80px 40px;
    //     padding-bottom: 40px;
    // }

    // @include atDesktopS {
    //     // box model
    //     padding: 80px 50px;
    //     padding-bottom: 50px;
    // }
}

.header__contacts {
    // box model
    display: flex;
    justify-content: space-between;
}

.header__contacts-column {
    // typography
    text-align: right;
}

.header__contacts-column:nth-child(1) {
    // box model
    margin-right: 2rem;

    // typography
    text-align: left;
}


// here done !


.header__logo {
    position: relative;
    z-index: 3;

    // box model
    display: block;
    flex-shrink: 0;
    width: 46px;

    // visual
    fill: $white;
    transition: all 0.25s ease-out;

    @include atTablet {
        // box model
        width: 120px;
    }

    @include atDesktopS {
        // box model
        width: 160px;
    }

    @include atDesktopM {
        // box model
        width: 172px;
    }
}

.header__logo--full {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: block;
        width: 100%;
    }
}

.header__logo--small {
    // box model
    width: 100%;

    @include atTablet {
        // box model
        display: none;
    }
}

.header__logo svg {
    // box model
    width: 100%;
}

.header__nav {
    // positioning
    position: relative;
    z-index: 2;

    @include atTablet {
        // box model
        padding: 0 30px;
        flex-basis: 50%;
    }

    @include atDesktopS {
        // box model
        padding: 0 120px;
    }
}

.header__nav--hidden {
    // box model
    display: none;
}



.header__menu-button {
    // positioning
    position: relative;
    z-index: 3;

    @include atTablet {
        // box model
        display: none;
    }
}

.header__title {
    // box model
    max-width: 300px;

    // typography
    color: $green;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    // @include atTablet {
    //     // typography
    //     font-size: 1.75rem;
    // }

    // @include atDesktopS {
    //     // box model
    //     max-width: 500px;

    //     // typography
    //     font-size: 1.75rem;
    //     line-height: 1.25;
    // }

    // @include atDesktopM {
    //     // box model
    //     font-size: 2rem;
    //     max-width: 520px;
    // }
}

.header__title span {
    // box model
    display: block;

    // typography
    white-space: nowrap;
}

.header__title-top {

}

.header__title-middle {
    // typography
    font-size: 1.5em;
}

.header__title-bottom {

}
