.header-contact {
  // box model
  display: block;
  margin: 0;

  // typography
  color: $black;
  font-size: 0.75rem;
  line-height: 2;
  text-decoration: none;
}

.header-contact span {
  // typography
  white-space: nowrap;
}

a.header-contact {
  // typography
  white-space: nowrap;
}

a.header-contact:hover {
  // typography
  text-decoration: underline;
}
