.header {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // typography
    color: $green;

    // visual
    background-color: $light;
}

.header__contacts {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: flex;
    justify-content: space-between;
    order: 1;
    padding: 1rem 1.5rem;

    // visual
    background-color: rgba($light, 0.5);

    @include atDesktopS {
        // box model
        padding: 1rem 3rem;
        padding-right: 4rem;
        order: 0;
    }

    @include atDesktopM {
        // box model
        padding: 1rem 5rem;
    }
}

.header__contacts-column {
    // box model
    max-width: 200px;

    // typography
    text-align: right;

    @include atDesktopS {
        // box model
        max-width: inherit;
    }
}

.header__contacts-column:nth-child(1) {
    // box model
    margin-right: 2rem;

    // typography
    text-align: left;
}

.header__nav {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 0;
    padding: 1rem 1.5rem;

    // visual
    background-color: $dark;

    @include atDesktopS {
        // box model
        padding: 1rem 3rem;
    }

    @include atDesktopM {
        // box model
        padding: 1rem 5rem;
        padding-right: 4rem;
    }
}


.header__logo {
    position: relative;
    z-index: 3;

    // box model
    display: block;
    flex-shrink: 0;
    width: 64px;

    // visual
    fill: $white;
    transition: all 0.25s ease-out;

    @include atTablet {
        // box model
        width: 92px;
    }

    @include atDesktopS {
        // box model
        width: 112px;
    }

    // @include atDesktopM {
    //     // box model
    //     width: 172px;
    // }
}

.header__logo svg {
    // box model
    width: 100%;
}

.header__menu-button {
    // positioning
    position: relative;
    z-index: 3;

    @include atDesktopS {
        // box model
        display: none;
    }
}

.header__content {
    // box model
    order: 2;
    padding: 4rem 1rem;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin-top: -7rem;
        padding-top: 10rem;
        padding-right: 2rem;
        padding-left: 50%;

        // typography
        text-align: right;

        // visual
        background-image: url('./img/bgs/header.jpg');
        background-size: cover;
        background-position: center;
    }

    @include atDesktopS {
        // box model
        margin-top: 0;
        padding: 4rem;
        padding-left: 50%;
    }

    @include atDesktopM {
        // box model
        padding: 7rem 5rem;
        padding-left: 50%;
    }
}

.header__title {
    // positioning
    position: relative;

    // box model
    display: block;
    margin: 0;
    margin-bottom: 4rem;

    // typography
    color: $green;
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 3.25vw;
        text-align: right;
    }

    @include atDesktopM {
        // typography
        font-size: 2.5rem;
    }
}

.header__title::after {
    content: "";

    // positioning
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);

    // box model
    height: 1px;
    width: 10rem;

    // visual
    background-color: $dark;

    @include atTablet {
        // positioning
        transform: none;
        left: auto;
        right: 0.25rem;
    }
}

.header__title span {
    // box model
    display: block;

    // typography
    line-height: 1.125;
    white-space: nowrap;
}

.header__title-top {
    // typography
    font-size: 0.95em;
}

.header__title-middle {
    // typography
    font-size: 1.73em;
}

.header__title-bottom {
    // typography
    font-size: 0.71em;
}

.header__text {
    // box model
    margin-bottom: 3rem;

    // typography
    color: $dark;
    line-height: 1.5;

    @include atTablet {
        // box model
        padding-left: 2rem;
    }
}
