.main-nav {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    // box model
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1.25rem;
    padding-top: 4rem;
    width: 100%;

    // visual
    transition: all 0.25s ease-in-out;
    background-color: $dark;
    // display: none;

    // list    
    list-style: none;

    @include atDesktopS {
        // positioning
        position: relative;
        top: auto;
        right: auto;
        left: auto;

        // box model
        flex-direction: row;
        align-items: center;
        width: auto;
        padding: 0.5rem;
    }
}

.main-nav--hidden {
    // positioning
    top: -400px;

    // visual
    opacity: 0;

    @include atDesktopS {
        // positioning
        top: 0;

        // visual
        opacity: 1;
    }
}

.main-nav__item {
    // box model
    margin: 0.25rem;
    padding: 0.5rem 0;

    // typography
    text-align: left;

    @include atTablet {
        // box model
        padding: 10px;
        display: inline-block;
        vertical-align: top;
    }

    @include atDesktopS {
        // box model
        padding: 0;
        margin-right: 1rem;
    }
}

.main-nav__item a {
    // positioning
    position: relative;

    // box model
    display: inline-block;

    // typography
    color: $light;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-decoration: none;
    text-transform: uppercase;

    @include atTablet {
        // typography
        color: $white;
        font-size: 1rem;
    }

    @include atDesktopS {
        // box model
        padding: 0.25rem;

        // typography
        font-size: 0.675rem;
        white-space: nowrap;
    }
}

.main-nav__item a::after {
    content: '';
    bottom: -7px;
    left: 2px;

    // positioning
    position: absolute;

    // box model
    height: 1px;
    width: 0%;

    // visual
    background-color: transparent;
    transition: all 0.25s ease-out;
}

.main-nav__item a:hover::after {
    // box model
    width: 100%;

    // visual
    background-color: $light;
}

a.main-nav__book {
    // box model
    padding: 0.5rem;
    margin-left: -0.5rem;

    // border
    border: 1px solid $green;
    border-radius: 4px;

    // visual
    background-color: $green;
    transition: all 0.25s ease-out;

    @include atDesktopS {
        // box model
        margin-left: 0;
        padding: 1rem;

        // typography
        text-align: center;
    }
}

.main-nav__book:hover {
    // visual
    background-color: transparent;
}

.main-nav__book::after {
    // box model
    display: none;
}
