.master {
  // box model
  display: flex;
  margin-bottom: 3rem;

  @include atDesktopS {
    // box model
    flex-basis: 40%;
    margin-right: 2rem;
  }
}

.master__image {
  // box model
  width: 100px;
  flex-basis: 100px;

  @include atTablet {
    // box model
    width: 120px;
    flex-basis: 120px;
  }

  @include atDesktopS {
    // box model
    width: 160px;
    flex-basis: 160px;
    // border: 2px dashed fuchsia;
  }
}

.master__image img {
  // box model
  width: 100%;
}

.master__caption {
  // box model
  flex-basis: calc(100% - 100px);
  padding-left: 1rem;

  @include atTablet {
    // box model
    flex-basis: calc(100% - 120px);
    max-width: 220px;
  }

  @include atDesktopS {
    // box model
    flex-basis: calc(100% - 160px);
    max-width: 240px;
  }
}

.master__name {
  // box model
  margin: 0;

  // typography
  color: $sapling;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.master__position {
  // box model
  margin: 0;
  margin-bottom: 0.5rem;

  // typography
  color: $zobra;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.master__desc {
  // box model
  margin: 0;

  // typography
  font-size: 0.875rem;
}

.master:nth-of-type(2n) {
  // box model
  padding-left: 2rem;

  @include atTablet {
    // box model
    padding-left: calc(100% - 360px);
  }

  @include atDesktopS {
    // box model
    padding-left: 0;
  }
}

.master:last-of-type {
  // box model
  margin-bottom: 0;
}

.master:nth-of-type(4n - 3) {
  @include atDesktopS {
    // box model
    margin-left: 5rem;
  }
}
