.menu-button {
    // positioning
    position: relative;

    // box model
    height: 26px;
    width: 26px;

    // typography
    color: $light;
    font-size: 0;

    // visual
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-button:focus {
    // visual
    outline-width: 0;

    @include atDesktopS {
        // visual
        outline-width: 5px;
    }
}

.menu-button::before,
.menu-button__middle,
.menu-button::after {
    // positioning
    position: absolute;
    transform-origin: center center;
    left: 0;

    // box model
    display: block;
    height: 2px;
    width: 26px;

    // visual
    background-color: $light;
    transition: all 0.25s ease-out;
}

.menu-button::before {
    content: '';

    // positioning
    top: 4px;

    // animation
    animation-name: open-before;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.menu-button__middle {
    // positioning
    top: 12px;
}

.menu-button::after {
    content: '';

    // positioning
    top: 20px;

    // animation
    animation-name: open-after;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


.menu-button--close {
    &::before {
        // animation
        animation-name: close-before;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &::after {
        // animation
        animation-name: close-after;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .menu-button__middle {
        // visual
        opacity: 0;
    }
}


// Menu button animations
@keyframes close-before {
    0% {
        top: 4px;
    }

    50% {
        top: 12px;
        transform: rotate(0deg);
    }

    100% {
        top: 12px;
        transform: rotate(45deg);
    }
}

@keyframes close-after {
    0% {
        top: 20px;
    }

    50% {
        top: 12px;
        transform: rotate(0deg);
    }

    100% {
        top: 12px;
        transform: rotate(-45deg);
    }
}

@keyframes open-before {
    0% {
        top: 12px;
        transform: rotate(45deg);
    }
    
    50% {
        top: 12px;
        transform: rotate(0deg);
    }
    
    100% {
        top: 4px;
    }
}

@keyframes open-after {
    0% {
        top: 12px;
        transform: rotate(-45deg);
    }
    
    50% {
        top: 12px;
        transform: rotate(0deg);
    }
    
    100% {
        top: 20px;
    }
}
