.more-info {
    // box model
    padding: 20px;

    // typography
    text-align: center;
    text-transform: uppercase;

    // visual
    background-color: $green;

    @include atDesktopS {
        // box model
        padding: 25px 40px;
    }
}

.more-info--abs {
    @include atDesktopS {
        // positioning
        position: absolute;
        bottom: 1rem;
        left: 0;
    
        // box model
        max-width: 90%;
    }
}

.more-info__text {
    // box model
    margin: 0;
    margin-bottom: 20px;

    // typography
    color: $light;
    line-height: 1.75;
    letter-spacing: 0.05em;
    font-size: 0.85rem;
    
    @include atDesktopS {
        // typography
        // font-size: 1.125rem;
    }
}

.more-info__link {
    // typography
    color: $black;
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
}

.more-info__link:hover {
    // typography
    text-decoration: underline;
}
