.price-list-section {
    // box model
    margin-top: -3rem;
    padding: 3rem 2rem;

    @include atTablet {
        // box model
        padding: 4rem;
    }

    @include atDesktopS {
        // box model
        display: flex;
    }
}

.price-list-section__header {
    // box model
    margin-bottom: 3rem;

    @include atTablet {
        // box model
        margin-bottom: 3rem;
    }

    @include atDesktopS {
        // box model
        min-width: 280px;
        padding-right: 2rem;
    }
}

.price-list-section__content {
    @include atDesktopS {
        // box model

    }
}
