.price-table {
  // box model
  margin: 0 -2rem;
  margin-bottom: 2.5rem;

  @include atTablet {
    // box model
    margin: 0 -2.5rem;
    margin-bottom: 3rem;
  }
}

.price-table__row {
  // positioning
  position: relative;

  // box model
  padding: 0.75rem 2rem;

  // border
  // border-bottom: 1px solid rgba($zobra, 0);
  // border-top: 1px solid rgba($zobra, 0);

  // visual
  cursor: pointer;
  transition: all 0.25s ease-out;

  @include atTablet {
    // box model
    padding: 0.75rem 2.5rem;
  }
}

.price-table__row:hover {
  // visual
  background-color: rgba($zobra, 0.2);

  .price-table__close-spoiler {
    // visual
    opacity: 0.375;
  }
}

.price-table__row:active {
  @include atDesktopS {
    // visual
    background-color: rgba($zobra, 0.375);
  }
}

.price-table__row--open {
  // border
  // border-top: 1px solid rgba($zobra, 0.125);
  // border-bottom: 1px solid rgba($zobra, 0.125);

  // visual
  background-color: rgba($zobra, 0.1);

  .price-table__description {
    // box model
    max-height: inherit;
    margin-top: 0.5rem;
    padding-right: 5rem;

    // visual
    opacity: 1;
    // transition: all 0.25s ease-out,
    //             opacity 0.125s ease-out 0s;
  }

  .price-table__close-spoiler {
    // positioning
    transform: translateY(-50%) rotate(135deg);

    // visual
    transition: all 0.375s ease-out;
    opacity: 0.375;
  }
}

.price-table__caption {
  // box model
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.price-table__name {
  // box model
  padding-right: 1rem;

  // typography
  color: $light;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.08em;
  line-height: 1.25;
  text-transform: uppercase;
}

.price-table__name small{
  // box model
  display: block;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: normal;
  text-transform: none;
}

.price-table__value {
  // typography
  color: $sapling;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25;
  white-space: nowrap;
}

.price-table__value::after {
  content: ", —"
}

.price-table__close-spoiler {
  // positioning
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);

  // box model
  height: 1rem;
  width: 1rem;

  // visual
  opacity: 0;
  stroke: $zobra;
  transition: all 0.375s ease-out;

  @include atTablet {
    // positioning
    left: 0.75rem;
  }
}

.price-table__close-spoiler svg {
  // visual
  fill: $light;
}

.price-table__description {
  // box model
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  // padding-right: 3.5rem;
  max-height: 0;

  // typography
  color: $zobra;
  font-size: 0.75rem;
  line-height: 1.5;

  // visual
  opacity: 0;
  overflow: hidden;
  transition: all 0.25s ease-out,
              // opacity 0.5s ease-out 0.25s;
              opacity 0.5s ease-out 0.125s;
}
