.section {
    // box model
    padding: 3rem 1.5rem;

    @include atTablet {
        // box model
        padding: 3rem 2rem;
    }

    @include atDesktopS {
        // box model
        padding: 4rem 3rem;
    }

    @include atDesktopM {
        // box model
        padding: 7rem 5rem;
    }
}

.section--cert {
    @include atDesktopS {
        // positioning
        position: relative;

        // box model
        padding-right: 50%;
        padding-right: calc(50% + 6rem);

        // visual
        background-image: url('./img/bgs/cert.jpg');
        // background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }
}

.section--free-cons {
    // visual
    background-color: $grey;

    @include atDesktopS {
        // box model
        padding-left: 50%;

        // typography
        text-align: right;

        // visual
        background-image: url('./img/bgs/cons.jpg');
        background-size: cover;
        background-position: center left;
    }

    .section__title::after {
        @include atDesktopS {
            // positioning
            left: auto;
            right: 0;
        }
    }
}

.section--docs {
    @include atDesktopS {
        // positioning
        position: relative;

        // box model
        padding-right: 50%;
        padding-right: calc(50% + 6rem);

        // visual
        background-image: url('./img/bgs/docs.jpg');
        // background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top right;
    }
}

.section--request {
    // visual
    background-color: $grey;

    @include atDesktopS {
        // box model
        padding-left: 50%;

        // typography
        text-align: right;

        // visual
        background-image: url('./img/bgs/request.jpg');
        background-size: cover;
        background-position: center left;
    }

    .section__title::after {
        @include atDesktopS {
            // positioning
            left: auto;
            right: 0;
        }
    }
}

.section--experts {
    @include atDesktopS {
        // positioning
        position: relative;

        // box model
        padding-right: 33%;

        // visual
        background-image: url('./img/bgs/experts.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .section__content {
        @include atTablet {
            // box model
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;
        }

        @include atDesktopS {
            // box model
            justify-content: space-between;
        }
    }
}

.section--contacts {
    // visual
    background-color: $grey;
}

.section__header {
    // positioning
    position: relative;

    // box model
    margin-bottom: 5rem;
}

.section__title {
    // positioning
    position: relative;

    // box model
    margin: 0;
    margin-bottom: 4rem;

    // typography
    color: $green;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;

    @include atTablet {
        // box model
        padding-right: 40%;

        // typography
        font-size: 2rem;
    }

    @include atDesktopS {
        // box model
        padding-right: 0;

        // typography
        font-size: 2.5rem;
    }
}

.section__title::after {
    content: "";

    // positioning
    position: absolute;
    bottom: -2rem;
    left: 0;

    // box model
    height: 1px;
    width: 10rem;

    // visual
    background-color: $dark;
}

.section__cert {
    // box model
    margin-top: 2rem;
    padding: 0.25rem;
    padding-top: 0.5rem;

    // typography
    font-size: 0;

    // visual
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba($dark, 0.5);

    @include atDesktopS {
        // positioning
        position: absolute;
        right: 3rem;
        // top: 50%;
        // transform: translateY(-50%);
        bottom: 8rem;

        // box model
        width: 50%;
    }

    @include atDesktopM {
        // positioning
        right: 5rem;

        // box model
        width: 45%;
    }
}

.section__cert img {
    // box model
    width: 100%;
}
