.service {
    // positioning
    position: relative;

    // box model
    padding-bottom: 40px;

    @include atTablet {
        // box model
        flex-basis: 47.5%;
        padding-left: 64px;
    }
}

.service__icon {
    // box model
    height: 40px;
    width: 40px;

    @include atTablet {
        // positioning
        position: absolute;
        left: 0;
        top: 0;

        // box model
        height: 48px;
        width: 48px;
    }
}

.service__icon svg {
    // box model
    width: 100%;
}

.service__title {
    // typography
    font-weight: 700;
    line-height: 1.75;
    text-transform: uppercase;

    @include atTablet {
        // box model
        margin-top: 0;
    }
}

.service__title a {
    // typography
    color: $dark;
    text-decoration: none;
}

.service__title a:hover {
    // typography
    color: $green;
}

.service__list {
    // box model
    margin: 0;
    padding: 0;

    // list
    list-style: none;
}

.service__item {
    // typography
    font-size: 1rem;
    line-height: 2;
}

.service__item a {
    // typography
    color: $dark;
}

.service__item a:hover {
    // typography
    color: $green;
}

.service__text {
    // typography
    color: $dark;
    line-height: 1.75;
}
