.service-card {
  // positioning
  position: relative;

  // box model
  margin: 0 -1rem;
  padding: 2rem;

  // visual
  background-color: $dune;
  overflow: hidden;
}

.service-card__back {
  // positioning
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // typography
  font-size: 0;
}

.service-card__back img {
  // box model
  height: 100%;
  width: 100%;

  // object
  object-fit: cover;
}

.service-card__header {
  // box model
  margin-bottom: 2rem;

  // positioning
  position: relative;
  z-index: 2;
}

.service-card__title {
  // box model
  margin: 0;

  // typography
  color: $light;
  font-size: 1.125rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.service-card__content {
  // positioning
  position: relative;
  z-index: 2;
}

.service-card__number {
  // box model
  margin: 0;
  margin-top: -0.75rem;

  // typography
  color: $sapling;
  font-family: $displayFont;
  font-size: 2rem;
}

.service-card__text {
  // box model
  margin: 0;
  margin-bottom: 2rem;

  // typography
  color: $light;
  font-size: 0.875rem;
}

.service-card__more {
  // box model
  display: block;

  // typography
  color: $light;
  font-size: 0.875rem;
  line-height: 42px;
  letter-spacing: 0.08em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  // border
  border: 1px solid rgba($light, 0.2);

  // visual
  transition: all 0.25s ease-out;
}

.service-card__more:hover {
  // border
  border: 1px solid transparent;

  // visual
  background-color: rgba($light, 0.2);
}
