.spoiler {
    // box model
    padding-left: 40px;
}

.spoiler--open {
    .spoiler__content {
        // box model
        padding-bottom: 25px;
        height: auto;
    }

    .spoiler__button {
        // positioning
        transform: rotate(0deg);
    }

    .spoiler__title {
        // typography
        color: $green;
    }
}

.spoiler__header {
    // positioning
    position: relative;
}

.spoiler__icon {
    // positioning
    position: absolute;
    left: -40px;
    top: 0;

    // box model
    height: 24px;
    width: 24px;
}

.spoiler__title {
    // box model
    padding-right: 30px;

    // typography
    color: $dark;
    font-size: 1.25rem;
    line-height: 1.5;

    // visual
    // cursor: pointer;
    transition: all 0.25s ease-out;
}

.spoiler__title a {
    // typography
    color: $green;
    text-decoration: none;
}

.spoiler__title a:hover {
    // typography
    text-decoration: underline;
}

.spoiler__content {
    // box model
    height: 0;

    // border
    // border-bottom: 1px solid $greyText;

    // visual
    overflow: hidden;
    // transition: all 15s linear;
}

.spoiler__text {
    // typography
    line-height: 1.75;
}

.spoiler__button {
    // positioning
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);

    // box model
    height: 24px;
    width: 24px;

    // visual
    background-image: url('./img/angle-up.svg');
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.spoiler__more {
    // box model
    display: flex;
    justify-content: flex-end;
}
