section.section.section--dark.contacts#contacts
    .section__wrapper
        header.section__header
            p.section__subtitle 03 — Контакты
            h2.section__title Есть вопросы? <br><em>Напишите</em> нам
            p.section__text <br>236040 г.&nbsp;Калининград, <br>ул.&nbsp;Университетская, 2-г, офис 309. <br><br>+7 (906) 219 63 74 <br>+7 (4012) 771 292 <br><br>exco@list.ru

        .section__content.section__content--contacts
            form.ctc-form
                //- .ctc-form__caption
                //-     h2.ctc-form__title Сделать обращение
                //-     p.ctc-form__subtitle Оставьте заявку и&nbsp;мы свяжемся с&nbsp;Вами, чтобы ответить на&nbsp;все интересующие Вас вопросы

                fieldset.ctc-form__fieldset(size="1")
                    input.ctc-form__input(type="text" placeholder="Ваше имя:*" size="1")
                    input.ctc-form__input(type="text" placeholder="Ваш контактный телефон:*" size="1")
                    textarea.ctc-form__text(name="", cols="10", rows="6" placeholder="Сообщение" size="1")
                    input.ctc-form__button(type="submit", value="Отправить")


                p.ctc-form__note Нажимая на кнопку «Отправить», вы даёте согласие на обработку персональных данных <br>* - поля обязательные для заполнения

                //- a.ctc-form__application(href="#") Скачать заявку на услугу

    .contacts__map
    .contacts__overlay
