footer.footer
    .footer__content
        .footer__logo
            img(src="./img/logo--white.svg", alt="белый логотип Willmade Barbershop")
        nav.footer__menu
            ul.footer-menu
                li.footer-menu__item
                    a.footer-menu__link(href="#") Главная
                li.footer-menu__item
                    a.footer-menu__link(href="#") Франшиза
                li.footer-menu__item
                    a.footer-menu__link(href="#") Филиалы
                li.footer-menu__item
                    a.footer-menu__link(href="#") О Барбершопе
                li.footer-menu__item
                    a.footer-menu__link(href="#") Новости
                li.footer-menu__item
                    a.footer-menu__link(href="#") Мужская стрижка
                li.footer-menu__item
                    a.footer-menu__link(href="#") Тонирование
                li.footer-menu__item
                    a.footer-menu__link(href="#") Бритьё
        .footer__bottom
            nav.footer__secondary
                ul.footer-2ry-menu
                    li.footer-2ry-menu__item
                        a.footer-2ry-menu__link(href="terms.html") Условия использования
                    li.footer-2ry-menu__item
                        a.footer-2ry-menu__link(href="policy.html") Политика конфиденциальности
            .footer__socials
                a.social(href="#") VK <img src="./img/icons/vk.svg" />
                a.social(href="#") FB <img src="./img/icons/facebook.svg" />
                a.social(href="#") IN <img src="./img/icons/instagram.svg" />
    p.footer__motto Мы не пытаемся, доказать, что являемся лучшими, мы просто делаем нашу работу.
    .footer__spinner
    p.footer__copy &copy; Willmade 2019
