.header__top
    a.header__logo(href="index.html")
        img(src="./img/logo.svg", alt="логотип Willmade Barbershop")

    nav.header__nav.header__nav--closed
        ul.main-nav
            li.main-nav__item: a.main-nav__link(href="about.html") О Барбершопе
            li.main-nav__item: a.main-nav__link(href="city.html") Страница города
            li.main-nav__item: a.main-nav__link(href="haircut.html") Страница услуги
            li.main-nav__item: a.main-nav__link(href="terms.html") Условия использования
            li.main-nav__item: a.main-nav__link(href="policy.html") Политика конфиденциальности
            li.main-nav__item: a.main-nav__link(href="404.html") Страница 404

    .header__menu-button
        button.menu-button(role="button") ≡
            .menu-button__middle
