<a class="yButton bottom right" href="#" style="z-index: 10000;">
    <div class="yButtonBackground" style="background-color: rgb(221, 203, 164);"></div>
    <div class="yButtonWave" style="border-color: rgb(221, 203, 164); color: rgb(221, 203, 164);"></div>
    <div class="yButtonText">Онлайн запись</div>
    <div class="yButtonIcon"></div>
</a>
