html {
    // typography
    color: $black;
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    font-size: 16px;

    @include atMobileS {
        // typography
        font-size: 14px;
    }

    @include atTablet {

    }

    @include atDesktopS {
        
    }

    @include atDesktopM {
        // typography
        font-size: 15px;
    }
}

// Box sizing fix
body {
    // positioning
    position: relative;

    // box model
    box-sizing: border-box;

    // typography
    color: $dark;

    // visual
    overflow-x: hidden;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}

main {
    // box model
    // padding: 40px 20px;

    // @include atTablet {
    //     // box model
    //     padding: 30px 0;
    // }
}

hr {
    border-top: 1px solid rgba($green, 0.25);
}

.nowrap {
    // typography
    white-space: nowrap;
}

.grecaptcha-badge {
    visibility: hidden;
}
