html {
    // typography
    color: $black;
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    font-size: 16px;

    @include atMobileS {
        // typography
        font-size: 14px;
    }
}

// Box sizing fix
body {
    // positioning
    position: relative;

    // box model
    box-sizing: border-box;

    // typography
    color: $dark;

    // visual
    overflow-x: hidden;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}

.wrapper {
    @include atDesktopM {
        // box model
        max-width: 1280px;
        margin: 0 auto;

        // visual
        box-shadow: 0 0 1rem rgba($dark, 0.75);
    }
}

hr {
    border-top: 1px solid rgba($green, 0.25);
}

.nowrap {
    // typography
    white-space: nowrap;
}

.grecaptcha-badge {
    visibility: hidden;
}
