// Colors
$light: #ffffff;
$sapling: #ddcba4;
$zobra: #9b9796;
$dorado: #5e514d;
$dune: #382f2d;
$cocoa: #181110;
// $dorado: #695953;

 
// Fonts
$mainFont: 'Avenir Next Cyr', Arial, Helvetica, sans-serif;
$displayFont: "TT Lovelies Script";
