<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="style.css")

        title «ЭКСКО» — Сертификация

    body
        header.header
            .header__wrapper
                include ./modules/_header-top.pug

                .header__caption
                    h1.header__title Сертификация

        main
            section.section
                .section__wrapper
                    header.section__header
                        p.section__subtitle <a href="services.html">Услуги</a> — Сертификация
                        h2.section__title Сертификация (подтверждение соответствия)
                        p.section__text Орган по&nbsp;сертификации продукции и&nbsp;услуг обладает широкой областью аккредитации и&nbsp;уполномочен проводить процедуру подтверждения соответствия для&nbsp;ряда товаров и&nbsp;услуг.
                        p.section__text Взаимодействие с&nbsp;государственными органами и&nbsp;учреждениями, с&nbsp;аккредитованными испытательными центрами и&nbsp;лабораториями, органами по&nbsp;сертификации других регионов позволяет оперативно решать вопросы, связанные с&nbsp;сертификацией, исследованиями товаров, государственной регистрацией продукции.

                    .section__content
                        p <strong>Сертификация (подтверждение соответствия)</strong> — подтверждение соответствия продукции и&nbsp;услуг требованиям Технических регламентов Евразийского экономического союза, технических регламентов РФ, ГОСТов и&nbsp;других нормативных документов в&nbsp;форме декларации о&nbsp;соответствии или&nbsp;сертификата соответствия.

                        p Объектами подтверждения соответствия являются: продукция, товары, услуги.

                        p Орган по&nbsp;сертификации «ЭКСКО» аккредитован Федеральной службой по&nbsp;аккредитации (Росаккредитация) для&nbsp;проведения работ по&nbsp;подтверждению соответствия — аттестат аккредитации <span class="nowrap">№ РОСС RU.0001.10ПТ87</span> и&nbsp;внесен в&nbsp;Реестр аккредитованных лиц ФСА.

                        p Работы по&nbsp;подтверждению соответствия Орган по&nbsp;сертификации проводит в&nbsp;соответствии с&nbsp;действующими законодательными актами и&nbsp;требованиями нормативных документов Евразийского экономического союза и&nbsp;Российской Федерации.

                        p Полная информация о&nbsp;деятельности Органа по&nbsp;сертификации «ЭКСКО» и&nbsp;порядке проведения процедуры подтверждения соответствия размещена на&nbsp;<a href="http://osexco.ru">http://osexco.ru</a>.

            include ./modules/_contacts.pug

        include ./modules/_footer.pug

        script(src="scripts.js")
