<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="style.css")

        title «ЭКСКО» — Оценка

    body
        header.header
            .header__wrapper
                include ./modules/_header-top.pug

                .header__caption
                    h1.header__title Оценка

        main
            section.section
                .section__wrapper
                    header.section__header
                        p.section__subtitle <a href="services.html">Услуги</a> — Оценка
                        h2.section__title Услуги оценки и&nbsp;оценочной экспертизы
                        p.section__text Оценка – определение стоимости активов - рыночной стоимости объекта оценки с&nbsp;учетом его фактического качественного состояния как&nbsp;наиболее вероятную цену, по&nbsp;которой данный объект может быть отчужден на&nbsp;открытом рынке в&nbsp;условиях конкуренции.

                    .section__content
                        //- p <strong>Оценочная экспертиза</strong> — определение стоимости любого вида имущества, имущественных прав, а также размера материального ущерба и упущенной выгоды.
                        p Оценка проводится в&nbsp;соответствии с&nbsp;Федеральным законом <span class="nowrap">от 29.07.1998</span> <span class="nowrap">№135-ФЗ</span> «Об&nbsp;оценочной деятельности в&nbsp;Российской Федерации» и&nbsp;Федеральными стандартами оценки.
                        p Оценка и&nbsp;оценочная экспертиза проводятся для&nbsp;целей:

                        ul
                            li предоставления в&nbsp;таможенные органы ценовой информации о&nbsp;стоимости товара — подтверждение контрактной стоимости товара, оценка имущества;
                            li осуществления бухгалтерского учета — учёт основных средств предприятия (постановка/снятие с&nbsp;баланса, списание, уценка);
                            li предоставления в&nbsp;налоговые органы — определение уровня цен, применяемых при&nbsp;сделке; подтверждение стоимости имущества, основных средств; 
                            li страховых операций — оценка ущерба (оценка залива);
                            li обеспечения кредита в&nbsp;банке под залог имущества;
                            li принятия управленческих решений — оценка имущества, уставного капитала, долей участников, ценных бумаг, оценка оборудования;
                            li муниципальных нужд;
                            li судопроизводства — раздел имущества;
                            li вступления в&nbsp;наследство, оценка для&nbsp;органов опеки <span class="nowrap">и т.п.</span> — оценка недвижимости (оценка земли, оценка квартиры);
                            li оспаривание кадастровой стоимости в&nbsp;судах.

                        p Кроме того, ЭКСКО проводит оценочные экспертизы — определение стоимости любого вида имущества, имущественных прав, а&nbsp;также размера материального ущерба и&nbsp;упущенной выгоды.
                        p Оценщики ЭКСКО являются членами саморегулируемой организации оценщиков  Общероссийской общественной организации «Российское общество оценщиков».
                        p Уровень квалификации персонала подтверждён Квалификационным аттестатом.
                        p Профессиональная ответственность оценщиков застрахована ОСАО «Ингосстрах».


            include ./modules/_contacts.pug

        include ./modules/_footer.pug

        script(src="scripts.js")
