<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="style.css")

        script(src="https://api-maps.yandex.ru/2.1/?apikey=c74fa3df-581b-427a-9ae6-f565f4548493&lang=ru_RU", type="text/javascript")

        title ЭКСКО — Негосударственная экспертиза проекктной документации

    body
        .wrapper
            header.header
                .header__contacts
                    .header__contacts-column
                        a.header-contact(href="tel:+74012519111") +7 (4012) 519-111
                        a.header-contact(href="tel:+74012711292") +7 (4012) 711-292
                        a.header-contact(href="mailto:exco@list.ru") exco@list.ru
                    .header__contacts-column
                        p.header-contact работаем по всей России <span>пн-чт: c&nbsp;9:00 до 18:00</span> <span>пт: c&nbsp;9:00 до 17:00</span>

                nav.header__nav
                    .header__logo: img(src="./img/logo-full-white.svg", alt="Логотип ЭКСКО")

                    ul.main-nav
                        li.main-nav__item
                            a.main-nav__link(href="#") Главная
                        li.main-nav__item
                            a.main-nav__link(href="#") Аккредитация
                        li.main-nav__item
                            a.main-nav__link(href="#") Заявителю
                        li.main-nav__item
                            a.main-nav__link(href="#") Заявка на экспертизу
                        li.main-nav__item
                            a.main-nav__link(href="#") Эксперты
                        li.main-nav__item
                            a.main-nav__link(href="#") Контакты
                        li.main-nav__item
                            a.main-nav__book(href="#") Консультация бесплатно

                    .header__menu-button
                        button.menu-button
                            .menu-button__middle

                .header__content
                    h1.header__title
                        span.header__title-top Негосударственная 
                        span.header__title-middle экспертиза
                        span.header__title-bottom проектной документации
                    p.header__text Закажите у&nbsp;нас экспертизу вашей проектной документации и&nbsp;получите объективные результаты по&nbsp;разумным ценам и&nbsp;в&nbsp;сжатые сроки
                    a.button.button--header(href="#") Заказать экспертизу

            section.section.section--cert
                header.section__header
                    h2.section__title Проводим экспертизу на&nbsp;законных основаниях!
                .section__content
                    h3.title-3 наша аккредитация
                    p.section-text ООО «ЭКСКО» <a href="https://pub.fsa.gov.ru/rene/541/person">аккредитовано</a> в&nbsp;соответствии c&nbsp;Федеральным законом от 28.12.2013г. N 412-ФЗ «Об аккредитации в&nbsp;национальной системе аккредитации»
                    h3.title-3 регламент услуги
                    p.section-text Работы проводятся в&nbsp;строгом соответствии c&nbsp;регламентом организации, утвержденным 27.01.2018г.
                .section__cert: img(src="./img/accreditation-2--full.jpg", alt="")

            section.section.section--free-cons
                header.section__header
                    h2.section__title Получите бесплатную консультацию сейчас, не&nbsp;откладывая
                .section__content
                    h3.title-3 заполните форму и&nbsp;мы перезвоним вам
                    form.ctc-form(action="")
                        input.ctc-form__input(type="text" placeholder="Ваше имя:*" size="1")
                        input.ctc-form__input(type="text" placeholder="Ваш контактный телефон:*" size="1")
                        input.button(type="submit", value="Заказать консультацию")

            section.section.section--docs
                header.section__header
                    h2.section__title Рассмотрим ваши документы уже сегодня
                .section__content
                    h3.title-3 необходимо:
                    p.section-text <strong>Заявление</strong> о проведении негосударственной экспертизы.
                    p.section-text <strong>Проектная документация</strong> в&nbsp;необходимом для проведения эксперитзы объеме, который определяется в&nbsp;договоре.
                    p.section-text <strong>Задание</strong> на&nbsp;проектирование (копия) — в&nbsp;случае если вы направляете к нам на&nbsp;экспертизу проектную документацию или проектную документацию и&nbsp;результаты инженерных изысканий.
                    p.section-text <strong>Расчеты</strong> конструктивных и&nbsp;технологических решений, используемых в&nbsp;проектной документации и&nbsp;материалы инженерных изысканий — в&nbsp;случае дополнительного истребования экспертной организацией.

            section.section.section--request
                header.section__header
                    h2.section__title Заказать проведение экспертизы очень просто
                .section__content
                    h3.title-3 оставьте заявку и&nbsp;мы свяжемся c&nbsp;вами
                    form.ctc-form(action="")
                        input.ctc-form__input(type="text" placeholder="Ваше имя:*" size="1")
                        input.ctc-form__input(type="text" placeholder="Ваш E-mail:*" size="1")
                        input.ctc-form__input(type="text" placeholder="Ваш контактный телефон:*" size="1")
                        textarea.ctc-form__text(name="", cols="10", rows="6" placeholder="Сообщение" size="1")
                        input.button(type="submit", value="Заказать консультацию")

            section.section.section--experts
                header.section__header
                    h2.section__title С&nbsp;вами будут работать только лучшие эксперты
                .section__content
                    h3.title-3 наши специалисты — настоящие профессионалы своего дела
                .section__content
                    article.expert
                        p.expert__name Глебичева Алла Геннадьевна
                        p.expert__profi направление деятельности:
                        p.expert__skill «Охрана окружающей среды»
                        p.expert__attestat аттестат №МС-Э-50-2-9594, <br>срок окончания — 11.09.2022
                    article.expert
                        p.expert__name Навицкас Артур Витасович
                        p.expert__profi направление деятельности:
                        p.expert__skill «Системы электроснабжения»
                        p.expert__attestat аттестат №МС-Э-58-16-9877, <br>срок окончания — 03.11.2022
                    article.expert
                        p.expert__name Сорокина Людмила Федоровна
                        p.expert__profi направление деятельности:
                        p.expert__skill «Системы связи и&nbsp;сигнализации»
                        p.expert__attestat аттестат №МС-Э-1-17-10103, <br>срок окончания — 22.01.2023
                    article.expert
                        p.expert__name Шуманова Лариса Петровна
                        p.expert__profi направление деятельности:
                        p.expert__skill «Водоснабжение, водоотведение и&nbsp;канализация»
                        p.expert__attestat аттестат №МС-Э-35-2-6050, <br>срок окончания — 07.07.2020
                    article.expert
                        p.expert__name Ростников Александр Геннадьевич
                        p.expert__profi направление деятельности:
                        p.expert__skill «Пожарная безопасность»
                        p.expert__attestat аттестат №МС-Э-37-10-12530, <br>срок окончания - 24.09.2024
                    article.expert
                        p.expert__name Ленинг Эрик Константинович
                        p.expert__profi направление деятельности:
                        p.expert__skill «Конструктивные решения»
                        p.expert__attestat аттестат №МС-Э-53-2-9693, <br>срок окончания — 15.09.2022
                        p.expert__profi направление деятельности:
                        p.expert__skill «Объемно-планировочные и&nbsp;архитектурные решения»
                        p.expert__attestat аттестат №МС-Э-7-2-11733, <br>срок окончания - 04.03.2024

            section.section.section--contacts
                header.section__header
                    h2.section__title Наши контакты
                .section__content
                    .section__map
                        .map#map
                    .section__contacts
                        article.contact
                            h3.contact__title Телефоны
                            p.contact__text <a href="tel:+74012519111">+7 (4012) 519-111</a> <br><a href="tel:+74012771292">+7 (4012) 771-292</a>
                        article.contact
                            h3.contact__title E-mail
                            p.contact__text <a href="mailto:exco@list.ru">exco@list.ru</a>
                        article.contact
                            h3.contact__title Адрес
                            p.contact__text 236040, г.Калининград, <br>ул.Университетская,2Г <br>БЦ «Юбилейный», офис 309
                        article.contact
                            h3.contact__title Время работы
                            p.contact__text пн-чт: c&nbsp;9-00 до 18-00 <br>пт: c&nbsp;9-00 до 17-00 <br>обед: c&nbsp;13-00 до 14-00
                        article.contact
                            h3.contact__title ИНН
                            p.contact__text 3906145890
                            h3.contact__title ОГРН
                            p.contact__text 1053903340688
                            h3.contact__title ОКПО
                            p.contact__text 78643354

            footer.footer
                .footer__top
                    .footer__logo
                        img(src="./img/logo-full-white.svg", alt="Логотип ЭКСКО")
                    nav.footer__menu
                        ul.footer-nav
                            li.footer-nav__item: a(href="#") Главная
                            li.footer-nav__item: a(href="#") Аккредитация
                            li.footer-nav__item: a(href="#") Заявителю
                            li.footer-nav__item: a(href="#") Заявка на экспертизу
                            li.footer-nav__item: a(href="#") Зксперты
                            li.footer-nav__item: a(href="#") Контакты

                .footer__bottom
                    a.button(href="#") Бесплатная консультация
                    p.footer__phones <a href="tel:+74012519111">+7 (4012) 519-111</a> <br><a href="tel:+74012771292">+7 (4012) 771-292</a>
                    p.footer__legals &copy; ЭКСКО 2018 — 2020

        script(src="scripts.js")
