<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="style.css")

        script(src="https://api-maps.yandex.ru/2.1/?apikey=c74fa3df-581b-427a-9ae6-f565f4548493&lang=ru_RU", type="text/javascript")

        title ЭКСКО — Негосударственная экспертиза проекктной документации

    body
        .wrapper
            header.header
                .header__menu-button

                .header__contacts

                .header__main-nav

                .header__content
                    h1.header__title 
                        span.header__title-top Негосударственная 
                        span.header__title-middle экспертиза
                        span.header__title-bottom проектной документации
                    p.header__text Закажите у нас экспертизу вашей проектной документации и получите объективные результаты по разумным ценам и в сжатые сроки
                    a.button(href="#") Заказать экспертизу

            section.section.section--cert
                header.section__header
                    h2.section__title
                .section__content
                .section__cert: img(src="", alt="")

            section.section.section--free-cons
                header.section__header
                    h2.section__title
                .section__content
                    form.ctc-form(action="")

            section.section.section--docs
                header.section__header
                    h2.section__title
                .section__content

            section.section.section--request
                header.section__header
                    h2.section__title
                .section__content
                    form.ctc-form(action="")

            section.section.section--experts
                header.section__header
                    h2.section__title
                .section__content

            section.section.section--contacts
                header.section__header
                    h2.section__title
                .section__content
                    .section__map
                        .map#map
                    .section__contacts

            footer.footer
                .footer__top
                    .footer__logo
                        img(src="", alt="")
                    .footer__menu
                    .footer__legals

                .footer__bottom
                    

        script(src="scripts.js")
