<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="style.css")

        title «ЭКСКО» — Услуги

    body
        header.header
            .header__wrapper
                include ./modules/_header-top.pug

                .header__caption
                    h1.header__title Услуги

        main
            section.services#services
                .services__wrapper
                    h2.services__title Услуги
                    .services__content
                        article.service
                            .service__icon: img(src="./img/icons/search.svg", alt="")
                            h3.service__title: a(href="expertise.html") Экспертиза
                            ul.service__list
                                li.service__item: a(href="expertise.html#") Товарная экспертиза
                                li.service__item: a(href="expertise.html#") Экспертиза товаров, закупаемых в&nbsp;соответствии <span class="nowrap">с ФЗ № 44-ФЗ</span>, <span class="nowrap">№ 223-ФЗ</span>
                                li.service__item: a(href="expertise.html#") Судебная экспертиза
                                li.service__item: a(href="expertise.html#") Экспертиза для&nbsp;таможенных целей
                                li.service__item: a(href="expertise.html#") Строительно-техническая экспертиза

                        article.service
                            .service__icon: img(src="./img/icons/calculator.svg", alt="")
                            h3.service__title: a(href="eval.html") Оценка
                            p.service__text Определение стоимости активов — рыночной стоимости объекта оценки с&nbsp;учетом его фактического качественного состояния как&nbsp;наиболее вероятную цену, по&nbsp;которой данный объект может быть отчужден на&nbsp;открытом рынке в&nbsp;условиях конкуренции.

                        article.service
                            .service__icon: img(src="./img/icons/half-star.svg", alt="")
                            h3.service__title: a(href="hotels.html") Классификация гостиниц
                            p.service__text Присвоение средству размещения определенной категории, установленной «Положением о&nbsp;классификации гостиниц», утвержденным Постановлением Правительства Российской Федерации <span class="nowrap">от 16 февраля 2019 г.</span> №&nbsp;158.

                        article.service
                            .service__icon: img(src="./img/icons/clipboard-check.svg", alt="")
                            h3.service__title: a(href="certification.html") Сертификация
                            p.service__text Подтверждение соответствия продукции и&nbsp;услуг требованиям Технических регламентов Евразийского экономического союза, технических регламентов РФ, ГОСТов и&nbsp;других нормативных документов в&nbsp;форме декларации о&nbsp;соответствии или&nbsp;сертификата соответствия.

                        article.service
                            .service__icon: img(src="./img/icons/clipboard-list.svg", alt="")
                            h3.service__title: a(href="nongov.html") Негосударственная экспертиза проектной документации
                            p.service__text Экспертиза проектной документации — комплекс мероприятий, направленных на&nbsp;проверку проекта и&nbsp;его соответствия строительным нормам, стандартам, правилам и&nbsp;требованиям законодательства РФ.

                    .services__more
                        .more-info
                            p.more-info__text Получите более подробную информацию об услугах по телефону:
                            a.more-info__link(href="tel: +74014519111") +7&nbsp;(4012)&nbsp;519&nbsp;111


            include ./modules/_contacts.pug

        include ./modules/_footer.pug

        script(src="scripts.js")
