@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./fonts/subset-AvenirNextCyr-Regular.woff2') format('woff2'),
       url('./fonts/subset-AvenirNextCyr-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./fonts/subset-AvenirNextCyr-Bold.woff2') format('woff2'),
       url('./fonts/subset-AvenirNextCyr-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// Decoration font
@font-face {
  font-family: 'TT Lovelies Script';
  src: url('./fonts/subset-TTLoveliesScript.woff2') format('woff2'),
       url('./fonts/subset-TTLoveliesScript.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
