@font-face {
  font-family: 'Arimo';
  src: url('./fonts/subset-Arimo-Italic.woff2') format('woff2'),
      url('./fonts/subset-Arimo-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/subset-Arimo-BoldItalic.woff2') format('woff2'),
      url('./fonts/subset-Arimo-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/subset-Arimo-Regular.woff2') format('woff2'),
  url('./fonts/subset-Arimo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('./fonts/subset-Arimo-Bold.woff2') format('woff2'),
      url('./fonts/subset-Arimo-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
